@charset 'utf-8';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.wrapper {
  width: 1190px;
  margin: 0 auto;
}
body {
  background: 0 36px repeat-y url('../img/bgc.png');
  background-size: cover;
  overflow-x: hidden;
}
.active {
  background-color: #ff4400 !important;
  color: #fff !important;
  font-weight: 600 !important;
}
#header {
  background-color: #f5f5f5;
}
#header .nav {
  height: 35px;
  display: flex;
  justify-content: space-between;
  line-height: 35px;
  font-size: 12px;
}
#header .nav .nav-left {
  display: flex;
}
#header .nav .nav-left li {
  color: #6c6c6c;
  margin-right: 8px;
  position: relative;
}
#header .nav .nav-left li .icon {
  height: 7px;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 3px;
}
#header .nav .nav-left li div {
  display: none;
}
#header .nav .nav-left li:nth-of-type(1) {
  padding: 0 0 0 5px;
}
#header .nav .nav-left li:nth-of-type(1):hover {
  background-color: #fff;
}
#header .nav .nav-left li:nth-of-type(1):hover div {
  width: 270px;
  height: 280px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  z-index: 99;
  left: 0px;
  display: flex;
  flex-direction: column;
}
#header .nav .nav-left li:nth-of-type(1):hover div a {
  padding-left: 7px;
  color: #000;
}
#header .nav .nav-left li:nth-of-type(1):hover div a:nth-of-type(1) {
  margin-top: 5px;
}
#header .nav .nav-left li:nth-of-type(1):hover div a:hover {
  background-color: #f4f4f4;
}
#header .nav .nav-left .black {
  color: #3c3c3c;
}
#header .nav .nav-left .red {
  padding-left: 10px;
  margin-left: -10px;
}
#header .nav .nav-left .red a {
  color: #6c6c6c;
}
#header .nav .nav-left .red:hover {
  margin-top: -1px;
  margin-right: 17px;
  border: 1px solid #eeeeee;
  background-color: #fff;
  border-bottom: none;
  border-left: none;
}
#header .nav .nav-left .red:hover .poa {
  width: 268px;
  height: 118px;
  background-color: #fff;
  display: block;
  position: absolute;
  z-index: 99999999;
  left: 0px;
  top: 35px;
  border: 1px solid #eee;
  border-top: none;
}
#header .nav .nav-left .red:hover .poa .poa-one {
  display: flex;
}
#header .nav .nav-left .red:hover .poa .poa-one span:nth-of-type(1) {
  margin: 20px 0 0 30px;
}
#header .nav .nav-left .red:hover .poa .poa-one span:nth-of-type(1) a img {
  border-radius: 50%;
}
#header .nav .nav-left .red:hover .poa .poa-one ul li {
  margin-top: 20px;
  margin-left: 20px;
  color: #000;
}
#header .nav .nav-left .red:hover .poa .poa-one ul li:nth-of-type(2) {
  margin-top: -16px;
  margin-left: 25px;
}
#header .nav .nav-left .red:hover .poa .under {
  display: block;
  width: 250px;
  height: 26px;
  background-color: #fff0e8;
  border: 1px solid #ffe8de;
  line-height: 26px;
  text-align: center;
  margin-left: 10px;
}
#header .nav .nav-left .red:hover .poa .under a {
  color: #000;
}
#header .nav .nav-left .red:hover .poa .under:hover a {
  color: #ff4400;
}
#header .nav .nav-left .red:hover .poa .right-top {
  position: absolute;
  top: 0;
  right: 4px;
}
#header .nav .nav-left .red:hover .poa .right-top a {
  color: #000;
}
#header .nav .nav-left .red:hover .poa .right-top a:hover {
  color: #FF4400;
}
#header .nav .nav-left .red:hover .poa .right-top em {
  font-style: normal;
  padding: 0 2px;
  color: #ccccd0;
}
#header .nav .nav-left .mr {
  margin-right: 18px;
}
#header .nav .nav-left .mr a {
  color: #6c6c6c;
}
#header .nav .nav-left .mr a:hover {
  color: #FF4400;
}
#header .nav .nav-right {
  display: flex;
  position: relative;
}
#header .nav .nav-right li {
  padding: 0 5px;
}
#header .nav .nav-right li span {
  color: #6c6c6c;
}
#header .nav .nav-right li a {
  color: #6c6c6c;
}
#header .nav .nav-right li .icon-first {
  height: 7px;
  vertical-align: middle;
  margin-left: 6px;
}
#header .nav .nav-right li .icon-right {
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
}
#header .nav .nav-right li div {
  display: none;
}
#header .nav .nav-right li:nth-of-type(1):hover {
  margin-top: -1px;
  margin-right: -1px;
}
#header .nav .nav-right li:nth-of-type(3):hover {
  margin-top: -1px;
  margin-right: -1px;
}
#header .nav .nav-right li:nth-of-type(7):hover {
  margin-top: -1px;
  margin-right: -1px;
}
#header .nav .nav-right li:nth-of-type(8):hover {
  margin-top: -1px;
  margin-right: -1px;
}
#header .nav .nav-right li:hover a {
  color: #FF4400;
}
#header .nav .nav-right li:hover .icon {
  color: #ff4400;
}
#header .nav .nav-right li:nth-of-type(1):hover {
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-bottom: 0px;
}
#header .nav .nav-right li:nth-of-type(1):hover div {
  width: 84px;
  height: 72px;
  background-color: #fff;
  position: absolute;
  display: flex;
  z-index: 99;
  flex-direction: column;
  left: 0px;
  top: 34px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}
#header .nav .nav-right li:nth-of-type(1):hover div a:nth-of-type(1) {
  margin-top: 5px;
}
#header .nav .nav-right li:nth-of-type(1):hover div a:nth-of-type(2) {
  margin-bottom: 5px;
}
#header .nav .nav-right li:nth-of-type(1):hover div a {
  padding: 0 0 0 5px;
  line-height: 30px;
}
#header .nav .nav-right li:nth-of-type(1):hover div a:hover {
  background-color: #f4f4f4;
}
#header .nav .nav-right li:nth-of-type(3):hover {
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-bottom: 0px;
  border-left: none;
  position: relative;
}
#header .nav .nav-right li:nth-of-type(3):hover div {
  width: 72px;
  height: 72px;
  background-color: #fff;
  position: absolute;
  display: flex;
  z-index: 99;
  flex-direction: column;
  left: -1px;
  top: 34px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}
#header .nav .nav-right li:nth-of-type(3):hover div a:nth-of-type(1) {
  margin-top: 5px;
}
#header .nav .nav-right li:nth-of-type(3):hover div a:nth-of-type(2) {
  margin-bottom: 5px;
}
#header .nav .nav-right li:nth-of-type(3):hover div a {
  padding: 0 0 0 5px;
}
#header .nav .nav-right li:nth-of-type(3):hover div a:hover {
  background-color: #f4f4f4;
}
#header .nav .nav-right li:nth-of-type(7):hover {
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-bottom: 0px;
  border-left: none;
  position: relative;
}
#header .nav .nav-right li:nth-of-type(7):hover div {
  width: 86px;
  height: 214px;
  background-color: #fff;
  position: absolute;
  display: flex;
  z-index: 99;
  flex-direction: column;
  left: -1px;
  top: 34px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}
#header .nav .nav-right li:nth-of-type(7):hover div a:nth-of-type(1) {
  margin-top: 5px;
}
#header .nav .nav-right li:nth-of-type(7):hover div a:nth-of-type(2) {
  margin-bottom: 5px;
}
#header .nav .nav-right li:nth-of-type(7):hover div a {
  padding: 0 0 0 5px;
  line-height: 28px;
}
#header .nav .nav-right li:nth-of-type(7):hover div a:hover {
  background-color: #f4f4f4;
}
#header .nav .nav-right li:nth-of-type(8):hover {
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-bottom: 0px;
  border-left: none;
  position: relative;
}
#header .nav .nav-right li:nth-of-type(8):hover div {
  width: 72px;
  height: 72px;
  background-color: #fff;
  position: absolute;
  display: flex;
  z-index: 99;
  flex-direction: column;
  left: -1px;
  top: 34px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}
#header .nav .nav-right li:nth-of-type(8):hover div a:nth-of-type(1) {
  margin-top: 5px;
}
#header .nav .nav-right li:nth-of-type(8):hover div a:nth-of-type(2) {
  margin-bottom: 5px;
}
#header .nav .nav-right li:nth-of-type(8):hover div a {
  padding: 0 0 0 5px;
  line-height: 30px;
}
#header .nav .nav-right li:nth-of-type(8):hover div a:hover {
  background-color: #f4f4f4;
}
#banner {
  height: 121px;
  padding: 24px 0 0;
}
#banner .wrapper {
  display: flex;
  position: relative;
}
#banner .wrapper .logo {
  width: 190px;
  height: 80px;
}
#banner .wrapper .logo h1 {
  width: 190px;
  height: 58px;
  margin-top: 9px;
  margin-left: -1px;
}
#banner .wrapper .logo h1 a img {
  display: block;
  width: auto;
  height: 59px;
  margin: 0 auto;
}
#banner .wrapper .search {
  width: 630px;
  height: 67px;
  margin-left: 54px;
}
#banner .wrapper .search .pof {
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  padding: 7px 0;
  background: #FFF;
}
#banner .wrapper .search .pof .pof-content {
  width: 1190px;
  margin: 0 auto;
  position: relative;
  display: flex;
}
#banner .wrapper .search .pof .pof-content .pof-logo {
  height: 33px;
  background-position: 0 -80px;
  width: 100px;
  margin-top: 0;
}
#banner .wrapper .search .pof .pof-content .pof-logo a {
  display: block;
  padding-top: 33px;
  width: 80px;
  height: 0;
  text-indent: -9999px;
  overflow: hidden;
  background: url('../img/poflogo.png') 0 0 no-repeat;
}
#banner .wrapper .search .pof .pof-content .pof-search {
  height: 42px;
  border: 2px solid #f22e00;
  border-radius: 30px;
  display: flex;
  line-height: 40px;
  background-color: #fff;
  margin-left: 160px;
}
#banner .wrapper .search .pof .pof-content .pof-search .baby {
  width: 78px;
  height: 36px;
  padding-left: 26px;
  font-size: 12px;
  border-right: 1px solid #f3f3f3;
  background-color: #f4f4f4;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
#banner .wrapper .search .pof .pof-content .pof-search .baby .icon {
  font-size: 6px;
  margin-bottom: 4px;
  margin-left: 4px;
}
#banner .wrapper .search .pof .pof-content .pof-search .baby div {
  display: none;
}
#banner .wrapper .search .pof .pof-content .pof-search .baby:hover {
  position: relative;
}
#banner .wrapper .search .pof .pof-content .pof-search .baby:hover div {
  width: 74px;
  height: 98px;
  background-color: #fff;
  position: absolute;
  display: flex;
  z-index: 99;
  flex-direction: column;
  left: 1px;
  top: 26px;
}
#banner .wrapper .search .pof .pof-content .pof-search .baby:hover div a:nth-of-type(1) {
  margin-top: 10px;
}
#banner .wrapper .search .pof .pof-content .pof-search .baby:hover div a {
  margin: 0 auto;
  line-height: 40px;
  color: #000;
  font-size: 12px;
}
#banner .wrapper .search .pof .pof-content .pof-search .baby:hover div a:hover {
  color: #FF4400;
  font-weight: bold;
  font-size: 13px;
}
#banner .wrapper .search .pof .pof-content .pof-search .search-box-value {
  width: 470px;
  height: 36px;
  font-size: 12px;
  margin-left: 5px;
  color: #9c9c9c;
  position: relative;
}
#banner .wrapper .search .pof .pof-content .pof-search .search-box-value .icon {
  font-size: 15px;
  position: absolute;
  z-index: 9;
  top: 12px;
}
#banner .wrapper .search .pof .pof-content .pof-search .search-box-value form input {
  position: absolute;
  width: 460px;
  height: 20px;
  margin-top: 10px;
  top: 0px;
  border: none;
  outline: 0;
}
#banner .wrapper .search .pof .pof-content .pof-search .search-write {
  width: 74px;
  height: 38px;
}
#banner .wrapper .search .pof .pof-content .pof-search .search-write button {
  display: block;
  width: 74px;
  height: 38px;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  background-color: #FF4200;
  border: none;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}
#banner .wrapper .search .search-box {
  height: 40px;
  width: 632px;
  height: 42px;
  margin-top: 13px;
  border: 1px solid #f22e00;
  border-radius: 30px;
  display: flex;
  line-height: 40px;
  background-color: #fff;
  margin-left: 13px;
}
#banner .wrapper .search .search-box .baby {
  width: 78px;
  height: 36px;
  padding-left: 26px;
  font-size: 12px;
  border-right: 1px solid #f3f3f3;
}
#banner .wrapper .search .search-box .baby .icon {
  font-size: 6px;
  margin-bottom: 4px;
  margin-left: 4px;
}
#banner .wrapper .search .search-box .baby div {
  display: none;
}
#banner .wrapper .search .search-box .baby:hover {
  position: relative;
}
#banner .wrapper .search .search-box .baby:hover div {
  width: 74px;
  height: 98px;
  background-color: #fff;
  position: absolute;
  display: flex;
  z-index: 99;
  flex-direction: column;
  left: 1px;
  top: 26px;
}
#banner .wrapper .search .search-box .baby:hover div a:nth-of-type(1) {
  margin-top: 10px;
}
#banner .wrapper .search .search-box .baby:hover div a {
  margin: 0 auto;
  line-height: 40px;
  color: #000;
  font-size: 12px;
}
#banner .wrapper .search .search-box .baby:hover div a:hover {
  color: #FF4400;
  font-weight: bold;
  font-size: 13px;
}
#banner .wrapper .search .search-box .search-box-value {
  width: 470px;
  height: 36px;
  font-size: 12px;
  margin-left: 5px;
  color: #9c9c9c;
  position: relative;
}
#banner .wrapper .search .search-box .search-box-value .icon {
  font-size: 15px;
  position: absolute;
  z-index: 9;
  top: 12px;
}
#banner .wrapper .search .search-box .search-box-value form input {
  position: absolute;
  width: 460px;
  height: 20px;
  margin-top: 10px;
  top: 0px;
  border: none;
  outline: 0;
}
#banner .wrapper .search .search-box .search-write {
  font-size: 18px;
  width: 73px;
  height: 34px;
  background-image: linear-gradient(to right, #f57f48 0, #ff6f06 100%);
  border-radius: 30px;
  margin-top: 3px;
  line-height: 34px;
  text-align: center;
  margin-left: 2px;
  margin-right: 4px;
  color: white;
}
#banner .wrapper .search .search-text {
  display: flex;
  margin-top: 6px;
}
#banner .wrapper .search .search-text li {
  font-size: 12px;
  margin-right: 4px;
}
#banner .wrapper .search .search-text li a {
  color: #000;
}
#banner .wrapper .search .search-text li:nth-of-type(1) {
  margin-left: 13px;
}
#banner .wrapper .search .search-text li:nth-of-type(3) a {
  color: #FF4400;
}
#banner .wrapper .search .search-text li:hover a {
  color: #FF4400;
}
#banner .wrapper .QR {
  width: 76px;
  height: 88px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 110px;
}
#banner .wrapper .QR .text {
  font-size: 12px;
  color: #f22e00;
  text-align: center;
  margin-top: 4px;
}
#banner .wrapper .QR .QR-image {
  width: 62px;
  height: 62px;
  margin-left: 7px;
  margin-top: 1px;
}
#banner .wrapper .QR .QR-image img {
  display: block;
  width: 100%;
  height: auto;
}
#main .wrapper {
  background-color: #fff;
  border-radius: 20px;
}
#main .fix-all {
  position: relative;
  margin-left: 1190px;
}
#main .fix-all .fixed-tool span {
  font-size: 12px;
  height: 50px;
  width: 36px;
  position: absolute;
  top: 350px;
  display: block;
  right: -56px;
}
#main .fix-all .fixed-tool span .icon {
  color: #ff4400;
  font-size: 30px;
  font-weight: 700;
}
#main .fix-all .fixed-tool span .text a {
  display: block;
  text-align: center;
  margin-left: -10px;
  width: 50px;
  height: 50px;
  transition: 0.2s;
  z-index: 99999;
}
#main .fix-all .fixed-tool span .text a:nth-of-type(1) {
  margin-top: -14px;
  padding: 10px 8px 0;
  color: #ff4400;
  font-weight: 600;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#main .fix-all .fixed-tool span .text a:nth-of-type(2) {
  color: #f40;
  padding: 6px 8px 0;
  border-bottom: 1px solid #efefef;
  background-color: #fff;
}
#main .fix-all .fixed-tool span .text a:nth-of-type(3) {
  color: #000;
  padding: 6px 8px 0;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
}
#main .fix-all .fixed-tool span .text a:nth-of-type(3) .icon {
  color: #aaaaaa;
  font-size: 12px;
  display: block;
  margin-left: 10px;
}
#main .fix-all .fixed-tool span .text a:nth-of-type(4) {
  color: #000;
  padding: 6px 8px 0;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  line-height: 40px;
}
#main .fix-all .fixed-tool span .text a:nth-of-type(5) {
  padding: 6px 8px 0;
  color: #000;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#main .fix-all .fixed-tool span .text a:hover {
  background-color: #ff4400;
  color: #fff;
  font-weight: 600;
}
#main .main-first {
  display: flex;
  padding-top: 10px;
  padding-bottom: 6px;
}
#main .main-first div {
  margin: 0 6px;
}
#main .main-first ul {
  display: flex;
}
#main .main-first ul li {
  margin-right: 16px;
  text-align: center;
  padding: 0 4px;
  font-size: 15px;
}
#main .main-first ul li a {
  color: #000;
}
#main .main-first ul li a:hover {
  color: #FF4400 !important;
}
#main .main-first ul:nth-of-type(1) {
  margin-left: 8px;
}
#main .main-first ul:nth-of-type(1) li {
  font-size: 16px;
}
#main .main-first ul:nth-of-type(2) li {
  margin-right: 8px;
}
#main .main-first ul:nth-of-type(3) li {
  margin-right: 8px;
}
#main .main-first h2 {
  width: 190px;
  text-align: center;
  font-size: 16px;
  color: #FF6200;
  margin-right: 52px;
}
#main .main-second {
  display: flex;
  justify-content: space-between;
}
#main .main-second .left {
  display: flex;
  justify-content: space-between;
}
#main .main-second .left .nav {
  height: 526px;
  font-size: 14px;
  color: #6c6c6c;
  width: 212px;
  padding: 6px 0 3px 18px;
}
#main .main-second .left .nav li {
  margin: 0 0 15px;
  font-size: 14px;
}
#main .main-second .left .nav li .slash {
  padding: 0 4px;
}
#main .main-second .left .nav li .icon {
  margin-right: 12px;
  font-size: 18px;
}
#main .main-second .left .nav li a {
  color: #6c6c6c;
}
#main .main-second .left .nav li:hover svg,
#main .main-second .left .nav li:hover a {
  color: #FF4400;
}
#main .main-second .left .nav li:hover a:hover {
  text-decoration: underline;
}
#main .main-second .left .image {
  margin-left: 22px;
  margin-top: 10px;
  height: 512px;
  width: 520px;
}
#main .main-second .left .image .top {
  overflow: hidden;
  width: 520px;
  height: 280px;
  position: relative;
}
#main .main-second .left .image .top .image-all {
  display: flex;
  position: absolute;
}
#main .main-second .left .image .top .image-all img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
}
#main .main-second .left .image .top span {
  position: absolute;
  display: none;
  cursor: pointer;
}
#main .main-second .left .image .top .prev {
  top: 50%;
  left: 0;
  background-color: rgba(48, 47, 47, 0.6);
  width: 20px;
  height: 30px;
  padding-top: 3px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#main .main-second .left .image .top .prev:hover {
  background-color: rgba(24, 24, 24, 0.6);
}
#main .main-second .left .image .top .next {
  top: 50%;
  right: 0;
  background-color: rgba(48, 47, 47, 0.6);
  width: 20px;
  height: 30px;
  padding-top: 4px;
  padding-left: 2px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#main .main-second .left .image .top .next:hover {
  background-color: rgba(24, 24, 24, 0.6);
}
#main .main-second .left .image .top:hover span {
  display: block;
}
#main .main-second .left .image .bottom {
  width: 520px;
  height: 230px;
  margin-top: 1px;
}
#main .main-second .left .image .bottom .bottom-one {
  width: 520px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
}
#main .main-second .left .image .bottom .bottom-one .text {
  font-size: 12px;
  color: #999;
  position: relative;
  display: flex;
  line-height: 22px;
}
#main .main-second .left .image .bottom .bottom-one .text img {
  display: block;
  margin-right: 4px;
}
#main .main-second .left .image .bottom .bottom-one .const {
  font-size: 12px;
}
#main .main-second .left .image .bottom .img-bottom {
  position: relative;
}
#main .main-second .left .image .bottom .img-bottom .bottom-two {
  background: #F6F6F6;
  border-radius: 12px;
  justify-content: space-between;
  padding: 6px;
  position: absolute;
  width: 518px;
  height: 190px;
  display: flex;
  overflow: hidden;
}
#main .main-second .left .image .bottom .img-bottom .bottom-two .one {
  display: flex;
  position: absolute;
}
#main .main-second .left .image .bottom .img-bottom .bottom-two .one img {
  display: block;
  width: 254px;
  height: 190px;
  border-radius: 12px;
  margin-right: 6px;
}
#main .main-second .left .image .bottom .img-bottom .prev,
#main .main-second .left .image .bottom .img-bottom .next {
  position: absolute;
  display: none;
  cursor: pointer;
}
#main .main-second .left .image .bottom .img-bottom .prev {
  top: 40%;
  left: 0;
  background-color: rgba(48, 47, 47, 0.6);
  width: 20px;
  height: 30px;
  padding-top: 3px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#main .main-second .left .image .bottom .img-bottom .prev:hover {
  background-color: rgba(24, 24, 24, 0.6);
}
#main .main-second .left .image .bottom .img-bottom .next {
  top: 40%;
  right: 0;
  background-color: rgba(48, 47, 47, 0.6);
  width: 20px;
  height: 30px;
  padding-top: 4px;
  padding-left: 2px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#main .main-second .left .image .bottom .img-bottom .next:hover {
  background-color: rgba(24, 24, 24, 0.6);
}
#main .main-second .left .image .bottom .img-bottom:hover .prev,
#main .main-second .left .image .bottom .img-bottom:hover .next {
  display: block;
}
#main .main-second .right {
  width: 384px;
  height: 508px;
  border-radius: 12px;
  margin-right: 18px;
  margin-top: 10px;
  background-color: #F3F3F3;
  padding: 20px 0;
}
#main .main-second .right .login {
  width: 384px;
  height: 124px;
}
#main .main-second .right .login .head {
  width: 384px;
}
#main .main-second .right .login .head .image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}
#main .main-second .right .login .head .hi {
  width: 384px;
  height: 17px;
  font-size: 12px;
  text-align: center;
  margin-top: 4px;
}
#main .main-second .right .login .head .hi a {
  color: #000;
}
#main .main-second .right .login .head .hi:hover a {
  color: #FF4400;
}
#main .main-second .right .login .btn {
  display: flex;
  height: 42px;
  margin-top: 10px;
  padding-left: 14px;
  font-size: 14px;
}
#main .main-second .right .login .btn a {
  height: 32px;
  width: 128px;
  line-height: 32px;
  margin-right: 4px;
  text-align: center;
  color: #FF4400;
}
#main .main-second .right .login .btn a div:nth-of-type(1) {
  font-weight: 700;
}
#main .main-second .right .login .btn a div:nth-of-type(2) {
  color: #000;
  margin-top: -14px;
  font-size: 12px;
}
#main .main-second .right .login .btn a:hover div:nth-of-type(2) {
  color: #ff4400;
}
#main .main-second .right .image-one {
  margin-top: 16px;
  width: 356px;
  height: 141px;
  border-radius: 6px;
  overflow: hidden;
  margin-left: 14px;
}
#main .main-second .right .text-one {
  margin-left: 14px;
}
#main .main-second .right .text-one .one {
  margin: 17px 0 14px;
  height: 16px;
  line-height: 16px;
}
#main .main-second .right .text-one .one .notice {
  font-weight: bold;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
}
#main .main-second .right .text-one .one .new {
  margin-left: 6px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
}
#main .main-second .right .text-one .two {
  margin-bottom: 8px;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
}
#main .main-second .right .text-one .two .notice {
  height: 18px;
  width: 32px;
  line-height: 18px;
  border-radius: 2px;
  background-color: rgba(255, 174, 174, 0.2);
  opacity: 0.8;
  text-align: center;
  font-size: 12px;
  color: #FF5000;
  font-weight: 700;
}
#main .main-second .right .text-one .two .notice a {
  color: #FF5000;
}
#main .main-second .right .text-one .two .new {
  font-size: 12px;
  color: #666;
  margin-left: 8px;
  width: 295px;
}
#main .main-second .right .text-one .two .new a {
  color: #666;
}
#main .main-second .right .text-one .three {
  margin-bottom: 8px;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
}
#main .main-second .right .text-one .three .notice {
  height: 18px;
  width: 32px;
  line-height: 18px;
  border-radius: 2px;
  background-color: rgba(255, 174, 174, 0.2);
  opacity: 0.8;
  text-align: center;
  font-size: 12px;
  color: #FF5000;
  font-weight: 700;
}
#main .main-second .right .text-one .three .notice a {
  color: #FF5000;
}
#main .main-second .right .text-one .three .new {
  font-size: 12px;
  color: #666;
  margin-left: 8px;
  width: 295px;
}
#main .main-second .right .text-one .three .new a {
  color: #666;
}
#main .main-second .right .text-one .four {
  margin-bottom: 8px;
  line-height: 18px;
  height: 18px;
  overflow: hidden;
}
#main .main-second .right .text-one .four .notice {
  height: 18px;
  width: 32px;
  line-height: 18px;
  border-radius: 2px;
  background-color: rgba(255, 174, 174, 0.2);
  opacity: 0.8;
  text-align: center;
  font-size: 12px;
  color: #FF5000;
  font-weight: 700;
}
#main .main-second .right .text-one .four .notice a {
  color: #FF5000;
}
#main .main-second .right .text-one .four .new {
  font-size: 12px;
  color: #666;
  margin-left: 8px;
  width: 295px;
}
#main .main-second .right .text-one .four .new a {
  color: #666;
}
#main .main-second .right .Icon {
  margin: 20px 0 0 12px;
  display: flex;
}
#main .main-second .right .Icon a {
  width: 60px;
  height: 53px;
  margin-right: 43px;
}
#main .main-second .right .Icon a .icon {
  color: #000;
}
#main .main-second .right .Icon a span {
  display: block;
  text-align: center;
}
#main .main-second .right .Icon a span:nth-of-type(1) {
  width: 60px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 6px;
}
#main .main-second .right .Icon a span:nth-of-type(2) {
  font-size: 12px;
  color: #333;
  width: 60px;
  line-height: 17px;
  text-align: center;
}
#main .main-second .right .Icon a:hover .icon {
  color: #FF4400;
}
#main .main-third {
  padding-top: 10px;
  overflow: hidden;
}
#main .main-third .one-line h3 {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#main .main-third .one-line h3 span {
  font-size: 24px;
  color: #111;
  font-weight: lighter;
  line-height: 24px;
}
#main .main-third .one-line h3 img {
  margin: 4px 0 0 6px;
  height: 20px;
}
#main .main-third .one-line div {
  overflow: hidden;
}
#main .main-third .one-line div ul {
  float: left;
}
#main .main-third .one-line div ul a {
  display: block;
  width: 215px;
  overflow: hidden;
  margin: 0 0 0 20px;
  float: left;
}
#main .main-third .one-line div ul a .img {
  width: 215px;
  height: 215px;
  border-radius: 12px;
}
#main .main-third .one-line div ul a .img img {
  width: 215px;
  height: 215px;
  border-radius: 12px;
  opacity: 1;
  transition: 0.5s;
}
#main .main-third .one-line div ul a .info {
  padding: 0 4px 0 6px;
}
#main .main-third .one-line div ul a .info h4 {
  font-size: 16px;
  color: #333333;
  line-height: 16px;
  margin-top: 10px;
  font-weight: normal;
  width: 198px;
  height: 16px;
  transition: 0.5s;
}
#main .main-third .one-line div ul a .info p {
  margin-top: 8px;
  font-size: 14px;
  color: #999999;
  line-height: 15px;
  width: 182px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#main .main-third .one-line div ul a:hover .img img {
  opacity: 0.7;
}
#main .main-third .one-line div ul a:hover .info h4 {
  color: #FF4400;
}
#main .main-third .text-last {
  overflow: hidden;
  margin-top: 19px;
  margin-bottom: 19px;
  padding-left: 20px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
}
#main .main-third .text-last img {
  margin-top: 5px;
  margin-left: 5px;
}
#main .main-fourth .wrapper .list .one-line {
  overflow: hidden;
  display: flex;
}
#main .main-fourth .wrapper .list .one-line .block {
  border-radius: 12px;
  padding: 7px 7px 0px 7px;
  margin: 4px 0 4px 7px;
  color: #6c6c6c;
  width: 229px;
  height: 326px;
  transition: 0.3s;
}
#main .main-fourth .wrapper .list .one-line .block a {
  overflow: hidden;
}
#main .main-fourth .wrapper .list .one-line .block a img {
  border-radius: 12px;
  height: 215px;
  width: 215px;
  opacity: 1;
  transition: 0.3s;
}
#main .main-fourth .wrapper .list .one-line .block a h4 {
  margin-top: 9px;
  line-height: 22px;
  height: 44px;
  font-size: 16px;
  color: #111111;
  font-weight: normal;
  transition: 0.3s;
  overflow: hidden;
}
#main .main-fourth .wrapper .list .one-line .block a h4 img {
  width: 30px;
  height: 16px;
  vertical-align: top;
  margin-top: 3px;
  margin-right: 2px;
}
#main .main-fourth .wrapper .list .one-line .block p {
  color: #F40;
  font-size: 20px;
  height: 22px;
  line-height: 22px;
  margin-top: 11px;
  border-radius: 0 0 12px 12px;
  margin-bottom: 20px;
}
#main .main-fourth .wrapper .list .one-line .block p em {
  font-style: normal;
  margin-right: 2px;
  font-size: 12px;
  vertical-align: inherit;
}
#main .main-fourth .wrapper .list .one-line .block:hover {
  box-shadow: 0px 0px 5px 5px rgba(161, 160, 160, 0.2);
}
#main .main-fourth .wrapper .list .one-line .block:hover a img {
  opacity: 0.8;
}
#main .main-fourth .wrapper .list .one-line .block:hover a h4 {
  color: #FF4400;
}
#main .main-fourth .wrapper .list .last {
  height: 50px;
  width: 1190px;
  text-align: center;
  margin-top: 20px;
}
#main .main-fourth .wrapper .list .last .last-one {
  text-align: center;
  color: #ccccd0;
  width: 84px;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
#main .main-fourth .wrapper .list .last .last-one::before {
  content: ' ';
  height: 1px;
  width: 60px;
  border-top: 1px solid #e6e6e6;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 25px;
}
#main .main-fourth .wrapper .list .last .last-one::after {
  content: ' ';
  display: inline-block;
  height: 1px;
  width: 60px;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 5px;
  margin-left: 25px;
}
#main .main-last {
  padding-top: 20px;
  height: 160px;
  display: flex;
}
#main .main-last .one {
  width: 25%;
}
#main .main-last .one .pad {
  padding: 0 25px;
}
#main .main-last .one .pad h4 {
  margin-bottom: 5px;
}
#main .main-last .one .pad h4 span:nth-of-type(1) {
  font-size: 32px;
  color: #999;
}
#main .main-last .one .pad h4 span:nth-of-type(2) {
  margin-left: 12px;
  padding-top: 12px;
  font-size: 16px;
}
#main .main-last .one .pad ul li {
  display: inline-block;
  margin-right: 10px;
  line-height: 21px;
  font-size: 12px;
}
#main .main-last .one .pad ul li a {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
#main .main-last .one .pad ul li a:hover {
  color: #FF4400;
}
#footer {
  background-color: #fff;
  margin-top: 20px;
  padding-bottom: 9px;
  font-size: 12px;
  overflow: hidden;
}
#footer .wrapper .first {
  padding-top: 7px;
}
#footer .wrapper .first p {
  margin-bottom: 8px;
  line-height: 27px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}
#footer .wrapper .first p span {
  margin: 0 3px;
}
#footer .wrapper .first p span a {
  color: #6c6c6c;
  text-decoration: none;
}
#footer .wrapper .first p span a:hover {
  color: #FF4400;
}
#footer .wrapper .first p b {
  margin: 0 2px;
  font-weight: 400;
  color: #ddd;
}
#footer .wrapper .second p:nth-of-type(1) {
  padding-bottom: 8px;
  overflow: hidden;
}
#footer .wrapper .second p:nth-of-type(1) span {
  margin: 0 3px;
}
#footer .wrapper .second p:nth-of-type(1) span a {
  color: #6c6c6c;
  text-decoration: none;
}
#footer .wrapper .second p:nth-of-type(1) span a:hover {
  color: #FF4400;
}
#footer .wrapper .second p:nth-of-type(1) b {
  margin: 0 3px;
  font-weight: 400;
  color: #ddd;
}
#footer .wrapper .second p:nth-of-type(1) em {
  margin-left: 30px;
  font-style: normal;
  color: #9c9c9c;
}
#footer .wrapper .second p:nth-of-type(2) {
  padding-bottom: 8px;
  overflow: hidden;
}
#footer .wrapper .second p:nth-of-type(2) span {
  margin: 0 3px;
}
#footer .wrapper .second p:nth-of-type(2) span a {
  color: #6c6c6c;
  text-decoration: none;
}
#footer .wrapper .second p:nth-of-type(2) span a:hover {
  color: #FF4400;
}
#footer .wrapper .second p:nth-of-type(2) b {
  margin: 0 3px;
  font-weight: 400;
  color: #ddd;
}
#footer .wrapper .second p:nth-of-type(2) .sp1 {
  color: #9c9c9c;
}
#footer .wrapper .second p:nth-of-type(3) {
  padding-bottom: 8px;
  overflow: hidden;
}
#footer .wrapper .second p:nth-of-type(3) span {
  margin: 0 3px;
  color: #9c9c9c;
}
#footer .wrapper .second p:nth-of-type(3) b {
  margin: 0 2px;
  font-weight: 400;
  color: #ddd;
}
#footer .wrapper .second p:nth-of-type(4) {
  padding-bottom: 8px;
  overflow: hidden;
}
#footer .wrapper .second p:nth-of-type(4) span {
  margin: 0 3px;
  color: #9c9c9c;
}
#footer .wrapper .second p:nth-of-type(4) span img {
  width: 20px;
  height: 20px;
}
#footer .wrapper .second p:nth-of-type(4) span a {
  color: #6c6c6c;
  text-decoration: none;
}
#footer .wrapper .second p:nth-of-type(4) span a:hover {
  color: #FF4400;
}
#footer .wrapper .second p:nth-of-type(4) b {
  margin: 0 2px;
  font-weight: 400;
  color: #ddd;
}
#footer .wrapper .third .one {
  display: flex;
}
#footer .wrapper .third .one span:nth-of-type(1) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(1) a {
  display: block;
  margin-right: 15px;
  width: 30px;
  height: 35px;
  background-position: 0px 0px;
  background-image: url('../img/aaaaaaaaaaaaaa.jpg');
}
#footer .wrapper .third .one span:nth-of-type(2) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(2) a {
  display: block;
  margin-right: 15px;
  width: 50px;
  height: 35px;
  background-position: -80px 0px;
  background-image: url('../img/aaaaaaaaaaaaaa.jpg');
}
#footer .wrapper .third .one span:nth-of-type(3) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(3) a {
  display: block;
  margin-right: 15px;
  width: 83px;
  height: 35px;
  background-position: -140px 0px;
  background-image: url('../img/aaaaaaaaaaaaaa.jpg');
}
#footer .wrapper .third .one span:nth-of-type(4) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(4) a {
  display: block;
  margin-right: 15px;
  width: 250px;
  height: 35px;
  background-position: 0px -18px;
  background-image: url('../img/123123.png_250x250');
}
#footer .wrapper .third .one span:nth-of-type(5) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(5) a {
  display: block;
  margin-right: 15px;
  width: 105px;
  height: 35px;
  background-position: -650px 0px;
  background-image: url('../img/aaaaaaaaaaaaaa.jpg');
}
#footer .wrapper .third .one span:nth-of-type(6) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(6) a {
  display: block;
  margin-right: 15px;
  width: 82px;
  height: 35px;
  background-position: -345px 0px;
  background-image: url('../img/aaaaaaaaaaaaaa.jpg');
}
#footer .wrapper .third .one span:nth-of-type(7) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(7) a {
  display: block;
  margin-right: 15px;
  width: 97px;
  height: 35px;
  background-position: -761px 0px;
  background-image: url('../img/aaaaaaaaaaaaaa.jpg');
}
#footer .wrapper .third .one span:nth-of-type(8) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .one span:nth-of-type(8) a {
  display: block;
  margin-right: 15px;
  width: 249px;
  height: 35px;
  background-position: -884px 0px;
  background-image: url('../img/aaaaaaaaaaaaaa.jpg');
}
#footer .wrapper .third .two {
  height: 71px;
  display: flex;
}
#footer .wrapper .third .two span:nth-of-type(1) {
  margin: 0 4px;
  overflow: hidden;
  margin-top: 20px;
}
#footer .wrapper .third .two span:nth-of-type(1) a {
  display: block;
  margin-right: 15px;
  width: 249px;
  height: 35px;
  background-position: 0px 0px;
  background-image: url('../img/quanguo.jpg');
}
#footer .wrapper .third .two span:nth-of-type(2) {
  margin: 0 4px;
  overflow: hidden;
}
#footer .wrapper .third .two span:nth-of-type(2) a {
  display: block;
}
#footer .wrapper .third .two span:nth-of-type(2) a img {
  width: 148px;
  height: 71px;
}
